<div class="container mx-auto lg:w-6/12 sm:w-10/12 font-serif">
  <h1 class="text-2xl font-bold text-blue-700 mb-4">This 3-Minute Exercise Will Change the Way You Solve Problems</h1>
  <h2 class="text-xl  text-gray-500 mb-4">‘Structured thinking’ is about building a big answer by asking many small
    questions</h2>
  <div class="flex items-center mb-4">
    <img class="w-10 h-10 rounded-full mr-4" src="https://tailwindcss.com/img/jonathan.jpg"
      alt="Avatar of Jonathan Reinink">
    <div class="text-sm">
      <p class="text-gray-900 leading-none">Jonathan Reinink</p>
      <p class="text-gray-600">Aug 18. <span>3 min read</span></p>
    </div>
  </div>
  <figure class="mb-4">
    <img src="https://miro.medium.com/max/1400/1*mEK6L8YDCi3ET75P4rb-Yw.jpeg" alt="">
    <figcaption class="text-gray-700 text-center text-xs mt-2">Photo: Westend61/Getty Images</figcaption>
  </figure>


  <div class="text-justify text-lg" *ngFor="let cell of cells">
    <p class="mb-4" *ngIf="cell.cell_type=='text'">
      {{cell.content}}
    </p>

    <img [src]="cell.content" *ngIf="cell.cell_type=='picture'" style="width: 20em;">
  </div>

</div>
